html{
  scroll-behavior: smooth;
}

*{
  font-family: 'quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body{
  background-color: #ecf0f1;
}

.project-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: zoom-out;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0s, background-color 0.3s;
  z-index: 10;
}

.project-overlay img {
  position: absolute;
  border-radius: 10px;
  width: 75%;
  cursor: zoom-out;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0s 0.3s;
  z-index: 10;
}

.section-header{
  text-align: center;
  font-size: 3.5em;
  font-family: 'Raleway';
  color: #94A88C;
}

#home{
  text-align: center;
  height: 100vh;
  width: 100%;

  background: url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home div.info{
  height: 90vh;
  width: 100%;
  padding-top: 5vh;
  display: grid;
  grid-template-rows: 1fr 5fr 3fr;
  align-items: center;
  justify-items: center;
}

#name{
  font-size: 5em;
  font-family: 'Raleway';
  background-color: rgba(0,0,0,0.3);
  border-radius: 25px;
  padding: 6px 5px 5px 5px;
  box-shadow: 0px 0px 40px 40px rgba(0,0,0,0.3);
  color: #BBB28E;
}

#headshot{
  max-width: 25vw;
  width: 75%;
  border-radius: 25%;
}

#blurb{

  font-size: 2em;
  font-weight: 500;
  text-shadow: 0px 0px 35px rgba(255,255,255,0.5);
  color: #94A88C; 
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  padding: 6px 5px 5px 5px;
  box-shadow: 0px 0px 40px 40px rgba(0,0,0,0.5);
}

#nav-container{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0, 0.5);
  padding-bottom: 5px;
  z-index: 5;
}

.fa-bars{
  display: none;
}

input{
  display: none;
  position: relative;
}

nav{
  width: 570px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'quicksand';
  transition: 0.4s;
  -webkit-transition: all 0.4s ease;
}

nav a{
  transition: 0.4s;
  font-size: 1.6em;
  color: #94A88C;
}

nav a:hover{
  color: #ffffff;
}

nav p{
  font-size: 1.6em;
}

.round{
  border-radius: 50%;
}

/* PROJECTS SECTION */

#projects{
  min-height: 650px;
  background-color: #ecf0f1;
  padding: 50px 50px;
}

#projects h2{
  margin-bottom: 50px;
}

#projects .project-boxes-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

#projects div.container{
  max-width: 500px;
  min-height: 450px;
  overflow: hidden;
  background-color: white;
  padding: 2.5%;
  border-radius: 2px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 50px;
}

#projects div.container:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#projects div.container img{
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: zoom-in;
}

#projects div.container img:hover {
  transform: scale(1.02);
}

#projects div.container a{
  text-decoration-line: none;
  color: black;
  transition: 0.3s;
}

#projects .name{
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin: 3.5% 0;
  transition: color 0.3s;
}

#projects .name-hover {
  color: lightblue;
  transition: color 0.3s;
}

#projects div.container div.view-links {
  text-align: center;
  margin-bottom: 3.5%;
}

#projects div.container div.view-links a {
  margin: 0 4px;
  font-size: 1.1em;
  color: #30819c;
}

#projects div.container div.view-links a:hover {
  color: lightblue;
}

#projects .about{
  margin-top: 20px;
  list-style: none;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

#projects .about li{
  background-color: lightgray;
  margin: 5px 0;
  padding: 3px 7px;
  border-radius: 15px;
  width: fit-content;
}

/* ABOUT ME SECTION */

#aboutMe{
  min-height: 650px;
  background-color: #7f8c8d;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  border-radius: 10px;
}

#family-picture{
  width: 30vw;
  margin: 100px 0;
  margin-left: 50px;
  border-radius: 15px;
}

#aboutMeBlurb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.2em;
  margin: 50px 0;
  margin-left: 50px;
}

.about-me-h2{
  text-align: center;
  margin-bottom: 5%;
  font-size: 2.5em;
  font-family: 'Raleway';
}

.hidden-about-me{
  display: none;
}

#aboutMeBlurb ul li{
  list-style-type: none;
  padding: 5px 0px;
}

li strong{
  font-weight: bold;
}

ul hr{
  margin-top: 6%;
  margin-bottom: 3%;
}

li h2{
  margin-top: 20px;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Raleway';
}

.skill-header{
  font-weight: bold;
}

.skill{
  padding: 0px 0px;
}

/* CONNECT SECTION */

#connect{
  height: 250px;
  background-color: #ecf0f1;
  padding-top: 50px;
}

#connect h1{
  padding-bottom: 35px;
}

#connect ul.networks{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#connect ul a{
  color: #495057;
  transition: 0.5s;
  font-size: 6em;
}

#resume-icon{
  font-size: 0.85em;
  transform: translate(0, -0.075em);
}

#connect ul li{
  list-style: none;
}

#connect ul li{
  margin: 0 15px;
  cursor: pointer;
  transition: 0.3s;
  vertical-align: top;
}

#connect ul li a:hover{
  color: lightblue;
}

.hide {
  right: -250%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s, background-color 0.3s;
}

.hidden-span {
  display: none;
}

/*-----------------------------------------------------------------
                    Media Queries
-------------------------------------------------------------------*/

@media all and (max-width: 600px){

  body{
    min-width: 320px;
    width: 100vw;
  }

  .project-overlay {
    display: none;
  }
  
  .project-overlay img {
    display: none;
  }

  #home{
    min-height: 100vh;
    height: unset;
    overflow: hidden;

    background: url(/img/background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #home .info{
    height: unset;
  }

  #name{
      font-size: 4em;
  }

  #headshot{
    max-width: 80vw;
  }

  #blurb{
    font-size: 1.5em;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.4);
  }

  #nav-container{
      display: flex;
      flex-direction: column;
      background-color: rgba(0,0,0, 0);
  }

  #nav-container label{
      width: 100%;
      text-align: end;
      margin-right: 25px;
  }

  .fa-bars{
      font-size: 3em;
      padding-top: 5px;
      padding-right: 15px;
      display: initial;
      cursor: pointer;
  }

  nav{
      flex-direction: column;
      flex-wrap: wrap;
      overflow: hidden;
      height: 0;
      padding: 0;
      margin: 0;
      transition-duration: 0.4s;
  }

  #menu-toggle:checked ~ #nav-container nav{
      display: flex;
      flex-direction: column;
      max-height: auto;
      height: fit-content;
      background-color: rgba(0,0,0,0.8);
  }

  nav a{
      font-size: 1.4em;
  }
  
  nav p{
      display: none;
      position: relative;
  }

  #aboutMe, #contact{
      flex-direction: column;
      height: fit-content;
  }

  /* PROJECTS SECTION */

  #projects{
    padding: 0;
    margin: -25px;
  }

  #projects .project-boxes-container{
    flex-flow: column nowrap;
    align-items: space-between;
    justify-items: space-between;
    width: 100vw;
  }

  #projects .container{
    margin-bottom: 50px;
    max-width: 90%;
  }

  #projects .name{
    text-decoration-line: none;
  }

  #projects h2{
    margin-bottom: 45px;
  }

  /* ABOUT ME SECTION */

  #aboutMe{
      justify-items: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 25px 0;;
  }

  #family-picture{
      width: 85%;
      margin: 5%;
  }

  #aboutMeBlurb{
      margin: 0px 5%;
  }

  #aboutMeBlurb ul{
      margin-bottom: 5%;
  }

  .about-me-h2{
    display: none;
  }

  .hidden-about-me{
    display: unset;
  }

  /* PROJECTS SECTION */
  #projects{
    display: flex;
    padding: 0;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  #projects div.container{
    width: 80%;
    padding: 5%;
  }
}