html{
    scroll-behavior: smooth;
}

main{
    width: 100vw;
}

#home{
    text-align: center;
    height: 100vh;
    width: 100%;

    background: url(/img/asphalt-back-road-blurred-background-1546901.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#name{
    padding-top: 40px;
    font-size: 5em;
    font-family: sans-serif;
}

#headshot{
    width: 300px;
    border-radius: 25%;
    margin-bottom: 18px;
    margin-top: 65px;
}

#blurb{
    height: 50px;
}

#nav-container{
    position: fixed;
    bottom: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'quicksand';
}

nav a:link, nav a:visited, nav a:hover, nav a:active{
    font-size: 1.6em;
    color: #34495e; 
}

nav p{
    font-size: 1.6em;
}

.round{
    border-radius: 50%;
}

#projects{
    height: 750px;
    background-color: #bdc3c7;
}

#contact{
    height: 750px;
    background-color: #ecf0f1;
}

#aboutMe{
    height: 750px;
    background-color: #7f8c8d;
}

@media only screen and (max-width: 1060px){

}