html{
  scroll-behavior: smooth;
}

*{
  font-family: 'quicksand', sans-serif;
}

body{
  background-color: #e2e1e0;
}

#home{
  text-align: center;
  height: 100vh;
  width: 100%;

  background: url(/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home div.info{
  height: 90vh;
  width: 100%;
  padding-top: 5vh;
  display: grid;
  grid-template-rows: 1fr 5fr 3fr;
  align-items: center;
  justify-items: center;
}

#name{
  font-size: 5em;
  font-family: 'Raleway';
}

#headshot{
  max-width: 300px;
  width: 75%;
  border-radius: 25%;
}

#blurb{
  height: 50px;
  font-size: 1.7em;
  text-shadow: 0px 0px 1px rgba(255,255,255,0.7);
}

#nav-container{
  position: sticky;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0, 0.3);
  padding-bottom: 5px;
}

.fa-bars{
  display: none;
}

input{
  display: none;
  position: relative;
}

nav{
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'quicksand';
  transition: 0.4s;
  -webkit-transition: all 0.4s ease;
}

nav a{
  transition: 0.4s;
  font-size: 1.6em;
  color: #27ae60; 
}

nav a:hover{
  color: #ffffff;
}

nav p{
  font-size: 1.6em;
}

.round{
  border-radius: 50%;
}

/* PROJECTS SECTION */

#projects{
  min-height: 650px;
  height: 100vh;
  background-color: #e2e1e0;
  padding: 50px 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

}

#projects div.container{
  width: 400px;
  height: 450px;
  overflow: hidden;
  background-color: white;
  padding: 2.5%;
  border-radius: 2px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#projects div.container:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#projects div.container img{
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#projects div.container a{
  text-decoration: none;
  color: black;
}

#projects .name{
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin: 3.5% 0;
}

#projects .about{
  margin: 3.5% 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#projects .about li{
  background-color: lightgray;
  margin: 5px 0;
  padding: 0 7px;
  padding-bottom: 2px;
  border-radius: 15px;
  white-space: nowrap;
}

/* ABOUT ME SECTION */

#aboutMe{
  min-height: 650px;
  height: 100vh;
  background-color: #7f8c8d;
  padding-right: 25px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

#family-picture{
  height: 80%;
  margin-left: 50px;
  border-radius: 15px;
}

#aboutMeBlurb{
  margin-left: 50px;
  height: 90%;
  padding-top: 5%;
}

.about-me-h2{
  text-align: center;
  margin-bottom: 10%;
  font-size: 2.5em;
  font-family: 'Raleway';
}

#aboutMeBlurb ul li{
  list-style-type: none;
  padding: 5px 0px;
}

li strong{
  font-weight: bold;
}

ul hr{
  margin-top: 6%;
  margin-bottom: 3%;
}

li h2{
  margin-top: 20px;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Raleway';
}

.skill-header{
  font-weight: bold;
}

.skill{
  padding: 0px 0px;
}

/* CONNECT SECTION */

#connect{
  height: 250px;
  background-color: #ecf0f1;
  border-radius: 10px;
  padding-top: 50px;
}

#connect h1{
  text-align: center;
  font-size: 3.5em;
  font-family: 'Raleway';
  padding-bottom: 35px;
}

#connect ul.networks{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#connect ul a{
  color: #495057;
  transition: 0.5s;
  font-size: 6em;
}

#connect ul li{
  list-style: none;
}

#connect ul li{
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
  vertical-align: top;
}

#connect ul li a:hover{
  color: #74787c;
  font-size: 6.5em;
}

@media all and (max-width: 600px){

  body{
    min-width: 320px;
  }

  #name{
      font-size: 2.5em;
  }

  #nav-container{
      display: flex;
      flex-direction: column;
  }

  #nav-container label{
      width: 100%;
      text-align: start;
      padding-left: 25px;
  }

  .fa-bars{
      font-size: 1.5em;
      padding-top: 5px;
      padding-right: 15px;
      display: initial;
      cursor: pointer;
  }

  nav{
      flex-direction: column;
      flex-wrap: wrap;
      overflow: hidden;
      height: 0;
      padding: 0;
      margin: 0;
      transition-duration: 0.4s;
  }

  #menu-toggle:checked ~ #nav-container nav{
      display: flex;
      flex-direction: column;
      max-height: auto;
      height: fit-content;
  }

  nav a{
      font-size: 1.4em;
  }
  
  nav p{
      display: none;
      position: relative;
  }

  #projects, #aboutMe, #contact{
      flex-direction: column;
      height: fit-content;
  }

  /* ABOUT ME SECTION */

  #aboutMe{
      justify-items: center;
      align-items: center;
  }

  #family-picture{
      height: auto;
      width: 85%;
      margin: 5%;
  }

  #aboutMeBlurb{
      margin: 0px 5%;
  }

  #aboutMeBlurb ul{
      margin-bottom: 5%;
  }

  /* PROJECTS SECTION */
  #projects{
    display: flex;
    padding: 0;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  #projects div.container{
    width: 80%;
    padding: 5%;
    min-width: calc(320px - 20%);
    max-width: calc(320px - 20%);
  }
}