html{
    scroll-behavior: smooth;
}

*{
    font-family: 'quicksand', sans-serif;
}

main{
    width: 100%;
}

#home{
    text-align: center;
    height: 100vh;
    width: 100%;

    background: url(/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#name{
    padding-top: 40px;
    font-size: 5em;
}

#headshot{
    width: 300px;
    border-radius: 25%;
    margin-bottom: 18px;
    margin-top: 65px;
}

#blurb{
    height: 50px;
    padding-top: 55px;
    font-size: 1.35em;
}

#nav-container{
    position: sticky;
    top: 0px;
    bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0, 0.3);
    padding-bottom: 5px;
}

nav{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'quicksand';
}

nav a{
    transition: 0.4s;
    font-size: 1.6em;
    color: #27ae60; 
}

nav a:hover{
    color: #ffffff;
}

nav p{
    font-size: 1.6em;
}

.round{
    border-radius: 50%;
}

/* PROJECTS SECTION */

#projects{
    min-height: 650px;
    height: 100vh;
    background-color: #bdc3c7;
}

/* ABOUT ME SECTION */

#aboutMe{
    min-height: 650px;
    height: 100vh;
    background-color: #7f8c8d;
    display: flex;
    align-items: center;
}

#family-picture{
    height: 80%;
    margin-left: 50px;
    border-radius: 15px;
}

#aboutMeBlurb{
    margin-left: 50px;
    height: 90%;
    padding-top: 5%;
}

.about-me-h2{
    text-align: center;
    margin-bottom: 10%;
    font-size: 2.5em;
}

#aboutMeBlurb ul li{
    list-style-type: none;
    padding: 5px 0px;
}

li strong{
    font-weight: bold;
}

ul hr{
    margin-top: 6%;
    margin-bottom: 3%;
}

li h2{
    margin-top: 20px;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 25px;
}

.skill-header{
    font-weight: bold;
}

.skill{
    padding: 0px 0px;
}

/* CONTACT SECTION */

#contact{
    min-height: 650px;
    height: 100vh;
    background-color: #ecf0f1;
}

@media only screen and (max-width: 1060px){

}